.imageNormal {
  max-height: 230px;
  width: 120%;
}

.brandName {
  font-weight: bold;
}

.containerNormal {
  background-color: #faf7f7;
  border-radius: 8px;
}
.imageStackContainer{
  width: 100%;
}

.element {
  padding: 0;
  padding-bottom: 1.5rem;
  width: auto;
}
.element :global(.vtex-button){
  background-color: #772CE8;
  border: none;
  border-radius: 30px;
  width:70%;
  margin: 1rem auto;
}

.element :global(.vtex-button):hover{
  background-color: #9761e2;
  
}